<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express + EJS + MONGO </title>
</head>
<body>
    <header>
        <p>LOGO</p>
        <h1>TITULO DE LA PAGINA</h1>
    </header>
</body>
</html>